@import ../config
@import ../flex-row
@import ../flex-column
@import ../form
@import ../button
@import ../input-field
@import ../text-center
@import ../box-info

.landing
    max-width: 370px
    height: 100%
    
    &__image-container
       
        @extend %flex-row
        margin-top: 20%

    &__figure
        width: 100%
        height: 80vh
        
        @extend %flex-column
      
    &__caption
       
        @extend %text-center
        color: $title
        margin: 0 auto
        
        font-weight: bold
        text-shadow: $text-shadow
        padding-bottom: 5%

    &__image
        width: 100%
        height: 100%
    
    &__link-container
        @extend %flex-column

    &__option-container
        @extend %flex-row
        justify-content: space-evenly
        magin: 20% auto
        position: absolute
        width: 100%
        
        top: 50%
        left: 2%
        
    &__option
        width: 200px
        @extend %button
        &:hover 
            border: solid 1% rgb(255, 0, 0)
            cursor: pointer
            color: darken(#ffffff, 30%)

    	
    

        