@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4e9ed;
  font-family: Raleway, sans-serifin;
  margin: 0;
  padding: 0;
  list-style: none outside none;
  text-decoration: none;
}

br {
  margin-bottom: 2%;
}

.header {
  width: 100%;
  height: 80vh;
  position: relative;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr max-content;
}
.header__bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(60%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.header__bg--video {
  width: auto;
}
.header__title {
  grid-area: 2/1/2/3;
  align-self: center;
  justify-self: center;
  color: white;
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  margin-top: -5rem;
  z-index: 1;
}
.header__nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
}
.header__nav--logo {
  fill: white;
  width: 3rem;
  padding: 1rem;
  cursor: pointer;
}
.header__nav--bar {
  margin-top: 1%;
}
.header__nav--bar__button {
  text-transform: capitalize;
  margin-left: 2rem;
  color: gray;
  font-size: 0.9rem;
  cursor: pointer;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.header__nav--bar__button:hover {
  color: white;
}

.about {
  width: 100%;
  height: 60vh;
  margin-top: -7rem;
  clip-path: polygon(0 27%, 100% 0, 100% 100%, 0 100%);
}
.about__title {
  padding-top: 7rem;
  text-align: center;
  text-transform: uppercase;
  color: #232323;
}
.about__title:hover {
  color: #1d241d44;
}
.about__text {
  width: 80%;
  margin: 5% auto;
}
.about__text--justify {
  text-align: justify;
}

.registration {
  height: 100%;
  background-image: url("https://www.spacex.com/sites/spacex/files/starship_mk1_night_v2_0.jpg");
  background-size: 100% 80%;
  background-repeat: no-repeat;
}

.registration__container {
  max-width: 600px;
  height: 100vh;
  margin: 2% auto;
  margin-top: 5%;
}

.registration__form {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: auto;
  border-radius: 10%;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
.content__title {
  margin-bottom: 8%;
}
.content__label {
  font-size: 1.3em;
}
.content__input {
  display: inline;
  width: 70%;
  height: 10%;
  text-align: center;
  margin-bottom: 2%;
  color: #ffffff;
  background-color: transparent;
  font-size: 1.2em;
  border-radius: 10%;
  margin: 2% auto;
}
.content__button {
  width: 40%;
  height: 10%;
  text-align: center;
  border-radius: 10%;
  margin: 0 auto;
  margin-top: 2%;
}

.login {
  height: 100%;
  background-image: url("https://www.spacex.com/sites/spacex/files/starship_mk1_night_v2_0.jpg");
  background-size: 100% 80%;
  background-repeat: no-repeat;
}

.login__container {
  max-width: 600px;
  height: 100vh;
  margin: 2% auto;
  margin-top: 5%;
}

.login__form {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: auto;
  border-radius: 10%;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
.content__title {
  margin-bottom: 8%;
}
.content__label {
  font-size: 1.3em;
}
.content__input {
  width: 70%;
  height: 10%;
  text-align: center;
  margin-bottom: 2%;
  color: #ffffff;
  background-color: transparent;
  font-size: 1.2em;
  border-radius: 10%;
  margin: 2% auto;
}
.content__button {
  width: 40%;
  height: 10%;
  text-align: center;
  border-radius: 10%;
  margin: 0 auto;
  margin-top: 2%;
}

.feedback {
  border: 0.3rem solid yellow;
  border-radius: 1rem;
  border-style: dotted;
  padding: 1rem;
  margin: 1rem;
  background-color: olive;
}
.feedback__icon {
  font-size: 1.5rem;
}
.feedback__message {
  display: inline;
  color: white;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*# sourceMappingURL=index.css.map */
