<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>

<section class="view login">
    <form class='login__form form'>
        <h1 class="form__title">Login</h1>
        <input class="form__field" type="text" name="username" placeholder="username">
        <input class="form__field" type="password" name="password" placeholder="password">
        <br></br>
        <button class="form__field" type="button" name="admin">ADMIN USER </button>
        <button class="form__field" type="button" name="agent">AGENT USER </button>
        <button class="form__submit">Submit</button>
    </form>

</section>