@import ../config
@import ../flex-row
@import ../text-center
@import ../flex-column
    
.client-item

    @extend %flex-column
    width: 88%
    margin: 0 auto
    background-color: $box-info-background
    @extend %text-center
    papadding: 0.6rem
    margin-bottom: 1.5rem
    box-shadow: $shadow
    border-radius: 5%
    

    &__link
        text-decoration: none
    
    &__field
        color: $box-info-color
        
        font-size: 1rem



    
        