@import ../config
@import ../flex-row
@import ../text-center
@import ../flex-column
    
.client-item

    @extend %flex-column

    margin: 0 auto
    width: 100%
    @extend %text-center
    padding: 0.6rem
    margin-bottom: 1.5rem
    box-shadow: $shadow
    
    &__link
        text-decoration: none
    
    &__field
        color: #0aad5c
        font-size: 1.4rem
        text-decoration: none
        font-size: 1.2rem
        



    
        