<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>

<section class='view agents'>

        <section class='agents__list-container'>

            <h2 class='agents__title'>List of Agents</h2>

            <ul class='agents__list list'>

                <li class='list__item item'>
                    <input class='item_input-field' type="image" name='avatar' value='avatar'>

                    <input class='item__input-field' type="text" name='name' value='name'>
                    <input class='item__input-field' type="text" name='surname' value='surname'>

                    <input class='item__button' type="submit" value='DEL'>
                </li>
                <li class='list1__item item'>
                    <input class='item_input-field' type="image" name='avatar' value='avatar'>
                    <input class='item__input-field' type="text" name='name' value='name'>
                    <input class='item__input-field' type="text" name='surname' value='surname'>

                    <input class='item__button' type="submit" value='DEL'>
                </li>
                <li class='list__item item'>
                    <input class='item_input-field' type="image" name='avatar' value='avatar'>
                    <input class='item__input-field' type="text" name='name' value='name'>
                    <input class='item__input-field' type="text" name='surname' value='surname'>

                    <input class='item__button' type="submit" value='DEL'>
                </li>
                <li class='list__item item'>
                    <input class='item_input-field' type="image" name='avatar' value='avatar'>
                    <input class='item__input-field' type="text" name='name' value='name'>
                    <input class='item__input-field' type="text" name='surname' value='surname'>

                    <input class='item__button' type="submit" value='DEL'>
                </li>

            </ul>


        </section>

      
    </section>