@import ../config
@import ../flex-column
@import ../flex-row
@import ../form
@import ../box-info
@import ../box-info-list
@import ../button
@import ../input-field
@import ../text-center
*
    margin: 0
    padding: 0
    box-sizing: border-box


.app
    border: 1px solid blue
    width: 100%
    min-height: 100vh
    @extend %flex-column

    background-image: $general-background
    background-repeat: no-repeat
    background-size: cover

@import ../Landing
@import ../Header
@import ../Menu
@import ../Login
@import ../Register
@import ../Footer

@import ../Feedback

@import ../AdminMain
@import ../AdminMenu
@import ../AdminAddClient
@import ../AdminAddRoute
@import ../AdminAgentsResults
@import ../AdminCallsResults
@import ../AdminReportFigures
@import ../AdminUpdateAgent

@import ../AgentMain
@import ../AgentClientCalls
@import ../AgentClientVisits
@import ../AgentCurrentCall
@import ../AgentCurrentVisit
@import ../AgentDetailClient
@import ../AgentListClients

