<section class="view detail-client">
        <h2 class="detail-client__title">Client Details</h2>

        <section class='detail-client__form-container'>

            <form class='detail-client__form form'>

                <input class='form__input-field' type="text" name='name' value='name'>
                <input class='form__input-field' type="text" name='surname' value='surname'>
                <input class='form__input-field' type="text" name='surname2' value='surname2'>
                <br></br>
                <input class='form__input-field' type="text" name='tel1' value='Tel1'>

                <br></br>
                <input class='form__input-field' type="text" name='street' value='street name'>
                <input class='form__input-field' type="text" name='num' value='street-number'>
                <input class='form__input-field' type="text" name='location' value='location'>

                <br></br>
                <input class='form__input-field' type="text" name='marital' value='marital-status'>
                <input class='form__input-field' type="text" name='age' value='age'>
                <br></br>
                <input class='form__input-field' type="text" name='products' value='products-array'>

            </form>
        </section>

    </section>
