%button
    box-shadow: $shadow
    width: 20%
    display: flex
    justify-content: center
    align-content: center
    margin: 0 auto
    background-color: #00ff99
    color: $main-font-color
    color: black
    font-sizer: 1.3rem
    font-weight: bold
    border-radius: 10%
    padding: 3%
    overflow: hidden
    
    box-shadow: $shadow
    	

		
		