@import flex-column
@import input-field
@import button
@import text-center


%form
  
    @extend %text-center
    margin: 2% auto
    padding-top: 2rem
    padding-bottom: 2rem
    box-shadow: $shadow

    overflow: auto 
    background-color: $main-background
    border: $main-border
    border-radius: 15% 
    color: $main-font-color
    
