@import config

%link
    
    height: 0.4rem
    text-align: center
    font-size: 0.5rem
    
    width: 3rem
    background-color: black
    color: #ffffff
    border-radius: 5%
    margin: 0.9rem auto
    padding: 0.3rem