.search
   background-color: #e4e9ed
   font-family: Raleway, sans-serifin
   list-style: none outside none
   text-decoration: none
   width: 40%
   margin: 0 auto
   height: 10vh
   font-size: 1.4rem
   color: red
  
