@import flex-column


@import text-center


%box-info
    width: 80%
    margin: 0 auto
    @extend %text-center
    @extend %flex-column
    
    padding-top: 1rem
    padding-bottom: 1rem
    box-shadow: $box-info-shadow

    overflow: auto 
    background-color: $box-info-background
    border: $secondary
    border-radius: 15% 
    
    