@import flex-column
@import input-field
@import button
@import text-center


%form
    width: 90%
    @extend %text-center
    margin: 2% auto
    padding-top: 2rem
    padding-bottom: 2rem
    box-shadow: $shadow

    overflow: auto 
    background-color: $secondary
    border: $border-color
    border-radius: 15% 
    
    