<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>

<section class='report__data data'>
        <ul class="data__list">
            <li class="data__item item">
                <a href="#" class="item__link">
                    <input class='item__input' type="text" name='agent' value='agentname'>
                    <input class='item__input' type="text" name='active' value='true'>
                    <input class='item__input' type="text" name='calls' value='124'>
                    <input class='item__input' type="text" name='duration' value='time-calling'>
                    <input class='item__input' type="text" name='success' value='13'>
                    <input class='item__input' type="text" name='fail' value='35'>
                    <input class='item__input' type="text" name='NA' value='134'>
                </a>
            </li>
            <li class="data__item item">
                <a href="#" class="item__link">
                    <input class='item__input' type="text" name='agent' value='agentname'>
                    <input class='item__input' type="text" name='active' value='true'>
                    <input class='item__input' type="text" name='calls' value='124'>
                    <input class='item__input' type="text" name='duration' value='time-calling'>
                    <input class='item__input' type="text" name='success' value='13'>
                    <input class='item__input' type="text" name='fail' value='35'>
                    <input class='item__input' type="text" name='NA' value='134'>
                </a>
            </li>
            <li class="data__item item">
                <a href="#" class="item__link">
                    <input class='item__input' type="text" name='agent' value='agentname'>
                    <input class='item__input' type="text" name='active' value='true'>
                    <input class='item__input' type="text" name='calls' value='124'>
                    <input class='item__input' type="text" name='duration' value='time-calling'>
                    <input class='item__input' type="text" name='success' value='13'>
                    <input class='item__input' type="text" name='fail' value='35'>
                    <input class='item__input' type="text" name='NA' value='134'>
                </a>
            </li>
        </ul>
    </section>
</section>