<section class='view routes'>
    <h1 class='routes__title'>PICK UP YOUR ROUTE</h1>
    <section class='routes__grid grid'>

        <div class="grid__item">

            <h3 class='grid__route-number'>Route 1</h3>
            <h4 class='grid__route-name'>Barcelona</h4>

        </div>
        <div class="grid__item">

            <h3 class='grid__route-number'>Route 2</h3>
            <h4 class='grid__route-name'>Girona</h4>

        </div>
        <div class="grid__item">

            <h3 class='grid__route-number'>Route 3</h3>
            <h4 class='grid__route-name'>Tarragona</h4>

        </div>
        <div class="grid__item">

            <h3 class='grid__route-number'>Route 4</h3>
            <h4 class='grid__route-name'>Lleida</h4>

        </div>

        <div class="grid__item">

            <h3 class='grid__route-number'>Route 5</h3>
            <h4 class='grid__route-name'>Madrid</h4>

        </div>
        <div class="grid__item">

            <h3 class='grid__route-number'>Route 6</h3>
            <h4 class='grid__route-name'>Bilbao</h4>

        </div>
        <div class="grid__item">

            <h3 class='grid__route-number'>Route 7</h3>
            <h4 class='grid__route-name'>Valencia</h4>

        </div>
        <div class="grid__item">

            <h3 class='grid__route-number'>Route 8</h3>
            <h4 class='grid__route-name'>Asturias</h4>

        </div>

    </section>
</section>