@import ../flex-row
@import ../text-center
@import ../flex-column
@import ../config

.clients

    @extend %flex-column

    &__title
        @extend %text-center
        color: $report-title-color 
        text-shadow: $report-title-shadow
        margin-bottom: 2rem

    &__results

    @extend %flex-row
   
 

    
   

