.landing
    background-color: olive
    text-decoration: none
    height: 100vh
    padding: .5rem
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

    &__title
        color: #ffffff
        font-size: 2rem
        margin: .5rem auto .5rem auto
    
    &__options
        color: #ffffff
        font-size: 1.2rem
        margin: .5rem auto .5rem auto