<header class='header'>

        <section class="header_logo-container logo">
            <a class='logo__link' href="#"><img class='logo__image' src="logo.png" alt="logo"></a>
            <div class='logo__slogan-container'>
                <h2 class='header__slogan'>Slogan de SkyCall</h2>
            </div>
        </section>

        <section class='header__nav-container nav'>
            <div class='nav__user-area'>
                <h4 class='nav__username'>Username</h4>
            </div>
            <nav class='nav__bar'>
                <ul class='nav__list'>
                    <li class='nav__item'>Logout</li>
                </ul>
            </nav>

        </section>

    </header>