.register
    background-color: black
    width: 50%
    margin: 20% auto

    border: .3rem solid #ffffff
    border-radius: 1rem
    text-decoration: none
    padding: .5rem
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

    &__title
        color: #ffffff
        font-size: 2rem
        margin: .5rem auto .5rem auto

    &__field
        border-radius: .5rem
        padding: .5rem
        font-size: 1rem
    
    &__submit
        border-radius: .5rem
        padding: .5rem