@import header
@import footer
@import main
   
img 
    max-width: 100%

    .grid
        width: 100%
        height: 100vh
        display: grid
        grid-template-areas: "header main footer"
        grid-template-columns: 1fr
        grid-template-rows: 10% 60% 30%
