@import flex-column


@import text-center


%box-info
    width: 90%
    margin: 0 auto
    @extend %text-center
        
    padding-top: 1rem
    padding-bottom: 1rem

    overflow: auto 
    
    
    
    