*
    margin: 0
    box-sizing: border-box

html
    background-image: url('images/background.jpg') 
    
    
body

@import config
@import Admin-agents-list
@import Admin-landing
@import Admin-summarize
@import Agent-clients-detail
@import Agent-clients-list
@import Agent-current-call
@import Agent-current-visit
@import Agent-route-detail
@import Agent-routes
@import Agent-total-visits
@import Header
@import Landing
@import Login
@import Register






