*
    margin: 0
    box-sizing: border-box

body
    height: 100vh
    width: 100vw

@import config
@import Admin-agents-list
@import Admin-landing
@import Admin-summarize
@import Agent-clients-detail
@import Agent-clients-list
@import Agent-current-call
@import Agent-current-visit
@import Agent-route-detail
@import Agent-routes
@import Agent-total-visits
@import Header
@import Landing
@import Login
@import Register






