@import ../config
@import ../flex-column
@import ../flex-row
@import ../form
@import ../box-info
@import ../box-info-list
@import ../button
@import ../input-field
@import ../text-center
*
    margin: 0
    padding: 0
    box-sizing: border-box
    
.admin
    border: 1px solid blue
    width: 100%
    min-height: 100vh
    @extend %flex-column

    background-image: $general-background
    background-repeat: no-repeat
    background-size: cover
    
    //Admin
@import ../AdminMain

@import ../AdminAddClient
@import ../AdminAddRoute
@import ../AdminCallsResults
@import ../AdminReportFigures
@import ../AdminUpdateAgent


