<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>

<section class='view report'>

        <h2 class='report__title'>AGENTS REPORTS</h2>

        <form class='report__figures form' action="">

            <label class='form__label' for="calling">Agents Calling</label>
            <input class='form__input' type="text" name='calling' value='24'>

            <label class='form__label' for="not-calling">Agents not calling</label>
            <input class='form__input' type="text" name='not-calling' value='4'>

            <label class='form__label' for="total-visits">Visits</label>
            <input class='form__input' type="text" name='total-visits' value='154'>

        </form>
</section>
