<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>

<section class='view results-clients clients'>

        <section class='clients__search search'>
            <h2 class='search__title'>Search</h2>
            <form class='search__form form' action="">

                <input class='form__input' type="text" name='name' value='name'>
                <button class="search__submit">🔍</button>
            </form>
        </section>

        <ul class="clients__list list">
            <li class="list__item item">
                <a href="#" class="item8__link">
                    <input class='item__input' type="text" name='name' value='name'>
                    <input class='item__input' type="text" name='surnname' value='surname'>
                    <input class='item__input' type="text" name='surname2' value='surname2'>
                    <br>
                    <input class='item__input' type="text" name='tel1' value='tel1'>
                    <input class='item__input' type="text" name='status' value='pending'>
                </a>
            </li>
            <li class="list__item item">
                <a href="#" class="item__link">
                    <input class='item__input' type="text" name='name' value='name'>
                    <input class='item__input' type="text" name='surnname' value='surname'>
                    <input class='item__input' type="text" name='surname2' value='surname2'>
                    <br>
                    <input class='item__input' type="text" name='tel1' value='tel1'>
                    <input class='item__input' type="text" name='status' value='pending'>
                </a>
            </li>
            <li class="list__item item">
                <a href="#" class="item__link">
                    <input class='item__input' type="text" name='name' value='name'>
                    <input class='item__input' type="text" name='surnname' value='surname'>
                    <input class='item__input' type="text" name='surname2' value='surname2'>
                    <br>
                    <input class='item__input' type="text" name='tel1' value='tel1'>
                    <input class='item__input' type="text" name='status' value='pending'>
                </a>
            </li>
            <li class="list__item item">
                <a href="#" class="item__link">
                    <input class='item__input' type="text" name='name' value='name'>
                    <input class='item__input' type="text" name='surnname' value='surname'>
                    <input class='item__input' type="text" name='surname2' value='surname2'>
                    <br>
                    <input class='item__input' type="text" name='tel1' value='tel1'>
                    <input class='item__input' type="text" name='status' value='pending'>
                </a>
            </li>
            <li class="list__item item">
                <a href="#" class="item__link">
                    <input class='item__input' type="text" name='name' value='name'>
                    <input class='item__input' type="text" name='surnname' value='surname'>
                    <input class='item__input' type="text" name='surname2' value='surname2'>
                    <br>
                    <input class='item__input' type="text" name='tel1' value='tel1'>
                    <input class='item__input' type="text" name='status' value='pending'>
                </a>
            </li>
            <li class="list__item item">
                <a href="#" class="item8__link">
                    <input class='item8__input' type="text" name='name' value='name'>
                    <input class='item8__input' type="text" name='surnname' value='surname'>
                    <input class='item8__input' type="text" name='surname2' value='surname2'>
                    <br>
                    <input class='item8__input' type="text" name='tel1' value='tel1'>
                    <input class='item8__input' type="text" name='status' value='pending'>
                </a>
            </li>
            <li class="list__item item8">
                <a href="#" class="item8__link">
                    <input class='item8__input' type="text" name='name' value='name'>
                    <input class='item8__input' type="text" name='surnname' value='surname'>
                    <input class='item8__input' type="text" name='surname2' value='surname2'>
                    <br>
                    <input class='item8__input' type="text" name='tel1' value='tel1'>
                    <input class='item8__input' type="text" name='status' value='pending'>
                </a>
            </li>
            <li class="list__item item8">
                <a href="#" class="item8__link">
                    <input class='item8__input' type="text" name='name' value='name'>
                    <input class='item8__input' type="text" name='surnname' value='surname'>
                    <input class='item8__input' type="text" name='surname2' value='surname2'>
                    <br>
                    <input class='item8__input' type="text" name='tel1' value='tel1'>
                    <input class='item8__input' type="text" name='status' value='pending'>
                </a>
            </li>
            <li class="list__item item8">
                <a href="#" class="item8__link">
                    <input class='item8__input' type="text" name='name' value='name'>
                    <input class='item8__input' type="text" name='surnname' value='surname'>
                    <input class='item8__input' type="text" name='surname2' value='surname2'>
                    <br>
                    <input class='item8__input' type="text" name='tel1' value='tel1'>
                    <input class='item8__input' type="text" name='status' value='pending'>
                </a>
            </li>
            <li class="list__item item8">
                <a href="#" class="item8__link">
                    <input class='item8__input' type="text" name='name' value='name'>
                    <input class='item8__input' type="text" name='surnname' value='surname'>
                    <input class='item8__input' type="text" name='surname2' value='surname2'>
                    <br>
                    <input class='item8__input' type="text" name='tel1' value='tel1'>
                    <input class='item8__input' type="text" name='status' value='pending'>
                </a>
            </li>
        </ul>
    </section>