/* The Modal (background) */
.feedback
    
    margin: 0 auto

    &__content

        position: fixed
        width: 60%
        height: 30%
        overflow: auto
        background-color: black
        color: white


    &__message
        color: #fefefe
        margin: 10% auto
        padding: 20px
        
        width: 90%
        text-align: center
        font-weight: bold
        color: orange
        border-radius: 25%
